# Core Python data manipulation
numpy~=2.0.2
pandas~=2.2.3

# ML / stats
scikit-learn~=1.6.1
xgboost~=2.1.4

# Plotting / Analysis
matplotlib~=3.9.4
seaborn~=0.13.2

# Deep Learning
torch~=2.6.0

tqdm~=4.67.1

requests~=2.32.3
fuzzywuzzy~=0.18.0
shap~=0.47.1
sklearn~=0.0
ortools~=9.12.4544
deap~=1.4.2
ipython~=8.18.1
urllib3~=1.26.15
certifi~=2025.1.31
beautifulsoup4~=4.13.3
python-dateutil~=2.9.0.post0
pulp~=3.1.1
mip~=1.15.0
statsmodels~=0.14.4
mlflow~=2.22.0
mlflow-skinny~=2.22.0
GitPython~=3.1.44
omegaconf~=2.3.0